In [1]:
import  numpy  as  np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("./players_15.csv")


data_potential_mean = data['potential'].mean()

data_old = data[data['age']>27]

data_old_potential_mean = data_old['potential'].sort_values(ascending = False).head(1000).mean()


total_mean = (data_potential_mean + data_old_potential_mean)/2

total_mean

data_young = data[data['potential']>total_mean]
data_young = data[data['age']<25]
data_young

data_young = data_young.sort_values(by = 'potential', ascending = False).head(250)


data_old = data_old.sort_values(by = 'potential', ascending = False).head(250)

data_old

len(data_young.club.unique())
len(data_old.club.unique())
club_young_players = np.array(data_young.club.unique())
club_olders_young = np.array(data_old.club.unique())
len(np.intersect1d(club_young_players, club_olders_young))



year_2015_clubs = np.intersect1d(club_young_players, club_olders_young)

In [3]:
data1 = pd.read_csv("./players_20.csv")

data_potential_mean1 = data1['potential'].mean()

data_old1 = data1[data1['age']>27]

data_old_potential_mean1 = data_old1['potential'].sort_values(ascending = False).head(1000).mean()


total_mean1 = (data_potential_mean1 + data_old_potential_mean1)/2

total_mean1

data_young1 = data1[data1['potential']>total_mean]
data_young1 = data1[data1['age']<25]
data_young1

data_young1 = data_young1.sort_values(by = 'potential', ascending = False).head(250)


data_old1 = data_old1.sort_values(by = 'potential', ascending = False).head(250)

data_old1

len(data_young1.club.unique())
len(data_old1.club.unique())
club_young_players1 = np.array(data_young1.club.unique())
club_olders_young1 = np.array(data_old1.club.unique())
len(np.intersect1d(club_young_players1, club_olders_young1))



year_2020_clubs = np.intersect1d(club_young_players1, club_olders_young1)

In [4]:
competitive_clubs = np.intersect1d(year_2015_clubs, year_2020_clubs)

len(competitive_clubs)

competitive_clubs

array(['AS Monaco', 'Arsenal', 'Atlético Madrid', 'Bayer 04 Leverkusen',
       'Borussia Dortmund', 'Borussia Mönchengladbach', 'Chelsea',
       'Everton', 'FC Barcelona', 'FC Bayern München', 'FC Porto',
       'FC Schalke 04', 'Inter', 'Juventus', 'LOSC Lille', 'Lazio',
       'Liverpool', 'Manchester City', 'Manchester United', 'Milan',
       'Napoli', 'Newcastle United', 'Olympique de Marseille',
       'PFC CSKA Moscow', 'Paris Saint-Germain', 'Real Madrid',
       'Real Sociedad', 'Roma', 'SL Benfica', 'Sampdoria', 'Sevilla FC',
       'Shakhtar Donetsk', 'Tottenham Hotspur', 'Valencia CF',
       'Villarreal CF'], dtype=object)

In [9]:
data_3 = pd.read_csv("./Score_report_15.csv", header=None)
data_3[1]


o_a_competitive_clubs = np.intersect1d(data_3[1], competitive_clubs)

len(o_a_competitive_clubs)

test = pd.DataFrame(o_a_competitive_clubs)

In [12]:
test

                           0
0                  AS Monaco
1                    Arsenal
2            Atlético Madrid
3        Bayer 04 Leverkusen
4          Borussia Dortmund
5   Borussia Mönchengladbach
6                    Chelsea
7                    Everton
8               FC Barcelona
9          FC Bayern München
10                  FC Porto
11             FC Schalke 04
12                  Juventus
13                LOSC Lille
14                     Lazio
15                 Liverpool
16           Manchester City
17         Manchester United
18                     Milan
19                    Napoli
20          Newcastle United
21               Real Madrid
22                      Roma
23                SL Benfica
24                 Sampdoria
25          Shakhtar Donetsk
26         Tottenham Hotspur
27               Valencia CF
28             Villarreal CF